@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap");
#menu {
  background-color: rgba(23, 23, 23, 0.3); }

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary:hover {
    background: #f5f5f5;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary.empty:hover {
    background: #4847fa;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    color: #171717; }

.tag {
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  background: #171717; }

img {
  max-width: 100%;
  display: block; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

#menu {
  background-color: rgba(23, 23, 23, 0.3); }

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary:hover {
    background: #f5f5f5;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary.empty:hover {
    background: #4847fa;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    color: #171717; }

.tag {
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300; }

#menu {
  background-color: rgba(23, 23, 23, 0.3); }

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary:hover {
    background: #f5f5f5;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary.empty:hover {
    background: #4847fa;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    color: #171717; }

.tag {
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300; }

@media only screen and (max-width: 1260px) {
  .s-sucess .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .s-sucess .container .title-sucess {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .s-sucess .container .title-sucess h2 {
        text-align: center; } }

@media only screen and (max-width: 1133px) {
  .s-about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.2rem; }
    .s-about .container .about-me h2 {
      text-align: center; }
    .s-about .container .about-me p {
      text-align: center; }
    .s-about .container .about-me ul {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .s-about .container img {
      width: 35rem; } }

@media only screen and (max-width: 950px) {
  .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .container .title-cases h2 {
    text-align: center; }
  .container .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem; }
  .s-contact .container {
    display: block !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .s-contact .title-contact {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem; }
  .s-contact .form-contact {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .s-contact .form-contact .input-group input[type="text"] {
      width: 100% !important; }
    .s-contact .form-contact .input-group textarea {
      width: 100% !important;
      padding: 1rem 3rem;
      margin-bottom: 2rem !important; }
  .s-contact .input-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 900px) {
  header .container {
    display: inline-block; }
  header nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    top: -20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  header .menu, header .btn-primary, header .menu-social {
    display: none; }
    header .menu .logo img, header .btn-primary .logo img, header .menu-social .logo img {
      width: 8.4rem; }
    header .menu .show, header .btn-primary .show, header .menu-social .show {
      opacity: 1;
      visibility: visible;
      position: fixed;
      width: 100vw;
      height: 100vw;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 8rem;
      background: #171717; }
    header .menu nav, header .btn-primary nav, header .menu-social nav {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      top: -20rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    header .menu .menu, header .menu .btn-primary, header .menu .menu-social, header .btn-primary .menu, header .btn-primary .btn-primary, header .btn-primary .menu-social, header .menu-social .menu, header .menu-social .btn-primary, header .menu-social .menu-social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header .menu .open-menu, header .btn-primary .open-menu, header .menu-social .open-menu {
      position: absolute;
      background-image: url(../img/menu.svg);
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      top: 3.5rem;
      right: 1.5rem;
      display: inline-block;
      cursor: pointer; }
    header .menu .close-menu, header .btn-primary .close-menu, header .menu-social .close-menu {
      position: absolute;
      background-image: url(../img/close.svg);
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      top: 3.5rem;
      right: 4rem;
      display: inline-block;
      cursor: pointer; }
    header .menu .menu, header .btn-primary .menu, header .menu-social .menu {
      gap: 6rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .menu .menu li, header .btn-primary .menu li, header .menu-social .menu li {
        margin: 0 auto; }
        header .menu .menu li a, header .btn-primary .menu li a, header .menu-social .menu li a {
          font-size: 2.4rem; }
      header .menu .menu .menu-social, header .btn-primary .menu .menu-social, header .menu-social .menu .menu-social {
        margin: 0 auto; } }

@media only screen and (max-width: 624px) {
  .s-hero {
    background-position: center center; }
    .s-hero .container .cards .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .s-hero .container .cards .card .card-title {
        padding: 0; }
        .s-hero .container .cards .card .card-title h3 {
          text-align: center; }
      .s-hero .container .cards .card .card-info {
        text-align: center; } }

@media only screen and (max-width: 500px) {
  html {
    font-size: 50.2%; } }

#menu {
  background-color: rgba(23, 23, 23, 0.3); }

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary:hover {
    background: #f5f5f5;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary.empty:hover {
    background: #4847fa;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    color: #171717; }

.tag {
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300; }

#menu {
  background-color: rgba(23, 23, 23, 0.3); }

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary:hover {
    background: #f5f5f5;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04); }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn-primary.empty:hover {
    background: #4847fa;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    color: #171717; }

.tag {
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300; }

@media only screen and (max-width: 1260px) {
  .s-sucess .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .s-sucess .container .title-sucess {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .s-sucess .container .title-sucess h2 {
        text-align: center; } }

@media only screen and (max-width: 1133px) {
  .s-about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.2rem; }
    .s-about .container .about-me h2 {
      text-align: center; }
    .s-about .container .about-me p {
      text-align: center; }
    .s-about .container .about-me ul {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .s-about .container img {
      width: 35rem; } }

@media only screen and (max-width: 950px) {
  .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .container .title-cases h2 {
    text-align: center; }
  .container .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem; }
  .s-contact .container {
    display: block !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .s-contact .title-contact {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem; }
  .s-contact .form-contact {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .s-contact .form-contact .input-group input[type="text"] {
      width: 100% !important; }
    .s-contact .form-contact .input-group textarea {
      width: 100% !important;
      padding: 1rem 3rem;
      margin-bottom: 2rem !important; }
  .s-contact .input-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 900px) {
  header .container {
    display: inline-block; }
  header nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    top: -20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  header .menu, header .btn-primary, header .menu-social {
    display: none; }
    header .menu .logo img, header .btn-primary .logo img, header .menu-social .logo img {
      width: 8.4rem; }
    header .menu .show, header .btn-primary .show, header .menu-social .show {
      opacity: 1;
      visibility: visible;
      position: fixed;
      width: 100vw;
      height: 100vw;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 8rem;
      background: #171717; }
    header .menu nav, header .btn-primary nav, header .menu-social nav {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      top: -20rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    header .menu .menu, header .menu .btn-primary, header .menu .menu-social, header .btn-primary .menu, header .btn-primary .btn-primary, header .btn-primary .menu-social, header .menu-social .menu, header .menu-social .btn-primary, header .menu-social .menu-social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header .menu .open-menu, header .btn-primary .open-menu, header .menu-social .open-menu {
      position: absolute;
      background-image: url(../img/menu.svg);
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      top: 3.5rem;
      right: 1.5rem;
      display: inline-block;
      cursor: pointer; }
    header .menu .close-menu, header .btn-primary .close-menu, header .menu-social .close-menu {
      position: absolute;
      background-image: url(../img/close.svg);
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      top: 3.5rem;
      right: 4rem;
      display: inline-block;
      cursor: pointer; }
    header .menu .menu, header .btn-primary .menu, header .menu-social .menu {
      gap: 6rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .menu .menu li, header .btn-primary .menu li, header .menu-social .menu li {
        margin: 0 auto; }
        header .menu .menu li a, header .btn-primary .menu li a, header .menu-social .menu li a {
          font-size: 2.4rem; }
      header .menu .menu .menu-social, header .btn-primary .menu .menu-social, header .menu-social .menu .menu-social {
        margin: 0 auto; } }

@media only screen and (max-width: 624px) {
  .s-hero {
    background-position: center center; }
    .s-hero .container .cards .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .s-hero .container .cards .card .card-title {
        padding: 0; }
        .s-hero .container .cards .card .card-title h3 {
          text-align: center; }
      .s-hero .container .cards .card .card-info {
        text-align: center; } }

@media only screen and (max-width: 500px) {
  html {
    font-size: 50.2%; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem;
  z-index: 2022; }
  header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .container nav .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        header .container nav .menu li {
          margin-right: 4.8rem; }
          header .container nav .menu li .menu-item {
            display: inline-block;
            color: #4847fa;
            font-weight: 700;
            line-height: 2.4rem; }
      header .container nav .menu-social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 4rem;
        gap: 3.4rem;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        header .container nav .menu-social img:hover {
          -webkit-filter: brightness(90%);
                  filter: brightness(90%);
          -webkit-transform: translateY(-5%);
              -ms-transform: translateY(-5%);
                  transform: translateY(-5%); }

.s-hero {
  background: url("../images/back1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  -webkit-backdrop-filter: grayscale(30%);
          backdrop-filter: grayscale(30%); }
  .s-hero .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .s-hero .container .title-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      max-width: 59.2rem;
      margin-top: 20rem;
      padding-bottom: 5.8rem; }
      .s-hero .container .title-box h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.7rem;
        text-align: center;
        color: #f5f5f5; }
        .s-hero .container .title-box h1 span {
          color: #4847fa; }
      .s-hero .container .title-box h2 {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.6rem;
        text-align: center;
        margin-bottom: 3.2rem;
        color: rgba(245, 245, 245, 0.8); }
      .s-hero .container .title-box p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        text-align: center;
        color: rgba(72, 71, 250, 0.8); }
      .s-hero .container .title-box .techs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 1.6rem;
        margin-top: 2.3rem; }
        .s-hero .container .title-box .techs img {
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .s-hero .container .title-box .techs img:hover {
            -webkit-transform: translateY(-12%);
                -ms-transform: translateY(-12%);
                    transform: translateY(-12%); }
      .s-hero .container .title-box .btn-primary {
        margin-top: 4rem;
        padding: 1rem 5.6rem; }

.s-sucess {
  padding: 14.4rem 0rem;
  margin: 0 auto;
  width: 100%; }
  .s-sucess .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4.4rem; }
    .s-sucess .container .title-sucess h2 {
      font-weight: 700;
      margin: 2rem 0; }
      .s-sucess .container .title-sucess h2 span {
        font-family: "Inter", sans-serif; }
    .s-sucess .container .cards {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .s-sucess .container .cards .card {
        width: 100%;
        max-width: 27.9rem;
        height: 30.4rem;
        background: #f5f5f5;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        margin: 3.3rem !important;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .s-sucess .container .cards .card:hover {
          -webkit-filter: brightness(90%);
                  filter: brightness(90%); }
        .s-sucess .container .cards .card:last-child {
          margin: 0; }
        .s-sucess .container .cards .card .card-title {
          margin: 4rem 0;
          padding-right: 12.5rem;
          padding-left: 1.4rem; }
          .s-sucess .container .cards .card .card-title h3 {
            font-family: 'Inter';
            font-weight: 300;
            font-size: 6.4rem;
            line-height: 7.7rem;
            margin-bottom: 5.5rem; }
        .s-sucess .container .cards .card .card-info {
          padding-left: 1.4rem; }
          .s-sucess .container .cards .card .card-info p {
            font-family: 'Inter';
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 3.9rem; }
      .s-sucess .container .cards .active {
        background: #4847fa; }

.s-about {
  background: #2e2e2e;
  padding: 6rem 0; }
  .s-about .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .s-about .container .about-me {
      width: 100%;
      max-width: 58rem; }
      .s-about .container .about-me p {
        font-weight: 400;
        line-height: 2.4rem;
        font-size: 1.6rem;
        color: rgba(245, 245, 245, 0.8);
        margin-top: 2.4rem; }
      .s-about .container .about-me ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        gap: 1.6rem;
        margin-top: 3.2rem; }
        .s-about .container .about-me ul li a img {
          width: 100%;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .s-about .container .about-me ul li a img:hover {
            -webkit-transform: translateY(-12%);
                -ms-transform: translateY(-12%);
                    transform: translateY(-12%);
            -webkit-filter: brightness(80%);
                    filter: brightness(80%); }
    .s-about .container img {
      max-width: 50rem;
      -webkit-border-radius: 4px;
              border-radius: 4px; }

.s-cases {
  padding: 4.5rem 0;
  margin-bottom: 8rem; }
  .s-cases .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .s-cases .container .title-cases {
      margin-bottom: 7.3rem; }
    .s-cases .container .cases {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      gap: 1.4rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .s-cases .container .cases .case:nth-child(2) {
        margin-top: -1.2rem; }
      .s-cases .container .cases img {
        -webkit-border-radius: 0.4rem;
                border-radius: 0.4rem;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .s-cases .container .cases img:hover {
          -webkit-transform: translateY(-2%);
              -ms-transform: translateY(-2%);
                  transform: translateY(-2%); }

.s-contact {
  padding-bottom: 4rem; }
  .s-contact .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .s-contact .container .title-contact h2 {
      margin-bottom: 2.4rem; }
    .s-contact .container .form-contact {
      width: 100%;
      max-width: 48.6rem; }
      .s-contact .container .form-contact .input-group input[type="text"] {
        width: 80%;
        margin-bottom: 3.1rem;
        background: #2e2e2e;
        border: solid 1px #4847fa;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        padding: 1.8rem; }
      .s-contact .container .form-contact .input-group textarea {
        width: 80%;
        margin-bottom: 0;
        background: #2e2e2e;
        border: solid 1px #4847fa;
        -webkit-border-radius: 2px;
                border-radius: 2px; }
      .s-contact .container .form-contact .input-group button {
        -webkit-border-radius: 2.4rem;
                border-radius: 2.4rem;
        background-color: var(--primary-color);
        padding: 1rem 2.4rem;
        border: none;
        margin-top: 1.7rem;
        font-weight: 700; }

footer {
  background-color: #2e2e2e; }
  footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .container .copy {
      color: rgba(245, 245, 245, 0.8);
      font-weight: 700;
      line-height: 2.4rem;
      padding: 5.2rem 0; }
      footer .container .copy p {
        text-align: center; }
