.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem; }

.container-fluid {
  width: 100%;
  padding: 0 1.8rem; }

h2 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #f5f5f5; }
  h2 span {
    color: #4847fa; }

.btn-primary {
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #4847fa;
  color: #171717;
  padding: 1rem 2.6rem; }

.btn-primary.empty {
  border: 2px solid #4847fa;
  -webkit-border-radius: 2.4rem;
          border-radius: 2.4rem;
  color: #4847fa;
  background: transparent; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem;
  z-index: 2022; }
  header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .container nav .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        header .container nav .menu li {
          margin-right: 4.8rem; }
          header .container nav .menu li .menu-item {
            display: inline-block;
            color: #4847fa;
            font-weight: 700;
            line-height: 2.4rem; }
      header .container nav .menu-social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 4rem;
        gap: 3.4rem; }

.s-hero {
  background: url("../images/s-hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed; }
  .s-hero .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .s-hero .container .title-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      max-width: 59.2rem;
      margin-top: 20rem;
      padding-bottom: 5.8rem; }
      .s-hero .container .title-box h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.7rem;
        color: #f5f5f5; }
        .s-hero .container .title-box h1 span {
          color: #4847fa; }
      .s-hero .container .title-box h2 {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 6rem;
        text-align: center;
        margin-bottom: 2rem;
        color: rgba(245, 245, 245, 0.8); }
      .s-hero .container .title-box p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        text-align: center;
        color: rgba(72, 71, 250, 0.8); }
      .s-hero .container .title-box .techs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 1.6rem;
        margin-top: 2.3rem; }
      .s-hero .container .title-box .btn-primary {
        margin-top: 4rem;
        padding: 1rem 5.6rem; }
